
@{
    Layout = null;
}


@{
    ViewBag.Title = "Index";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Css/Login.css" />

    <title>Maaşını Hesapla</title>
    <style>
        body {
            width: 100%;
            height: 100%;
            background-color: #f5f6fa;
            padding: 1%;
        }

        .container {
            height: 100%;
        }

        th {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="p-3  bg-white content">
        <div class="mb-3" style="width:10%; margin-left:90%;">
            <div class="btn-group w-100">
                <a class="btn" style="background-color: #2980b9; color: #ecf0f1; " href="/Security/Login">Giriş Yap</a>
            </div>
        </div>
        <div class=" mb-5 rounded">            
                <div class="form-group row mb-3 ">
                    <div class="col align-items-start h-25 ">
                        <div class="row">
                            <div class="col align-items-start h-25 ">
                                <label>Hesaplama Şekli</label>
                            </div>
                            <div class="col align-items-start h-25 ">
                                <select class="form-select" id="hesaplamaSekli" aria-label="Default select example">
                                    <option value="1">Brütten Nete</option>
                                    <option value="2">Netten Brüte</option>
                                </select>
                            </div>
                            <div class="w-100 mb-1"></div>
                            <div class="col align-items-start h-25 ">
                                <label>Sakatlık Derecesi</label>
                            </div>
                            <div class="col align-items-start h-25 ">
                                <select class="form-select" id="sakatlikId" name="sakatlikId" aria-label="Default select example">
                                    <option value="1">1.Derece Engelli %80</option>
                                    <option value="2">2.Derece Engelli %60</option>
                                    <option value="3">3.Derece Engelli %40</option>
                                    <option value="4" selected>Engelli Değil</option>
                                </select>
                            </div>
                            <div class="w-100 mb-1"></div>
                            <div class="col align-items-start h-25 ">
                                <label>Sigorta Durumu</label>
                            </div>
                            <div class="col align-items-start h-25 ">
                                <select class="form-select" id="sigortaId" name="sigortaId" aria-label="Default select example">
                                    <option value="1">Normal</option>
                                    <option value="2">Emekli</option>
                                </select>
                            </div>
                            <div class="w-100 mb-1"></div>
                            <div class="col align-items-start h-25 ">
                                <label>Yıl</label>
                            </div>
                            <div class="col align-items-start h-25 ">
                                <select class="form-select" aria-label="Default select example">
                                    <option value="1">2021</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col align-items-end h-25">
                        <div class="row">
                            <div class="col align-items-start h-25 ">
                                <label>Medeni Durumu</label>
                            </div>
                            <div class="col align-items-start h-25 ">
                                <select class="form-select" id="medeniDurum" name="medeniDurum" aria-label="Default select example">
                                    <option value="Bekar">Bekar</option>
                                    <option value="Evli(Çalışıyor)">Evli(Çalışıyor)</option>
                                    <option value="Evli(Çalışmıyor)">Evli(Çalışmıyor)</option>
                                    <option value="Faydalanmayacak">AGİ'den faydalanmayacak</option>
                                </select>
                            </div>
                            <div class="w-100 mb-1"></div>
                            <div class="col align-items-start h-25 ">
                                <label>Çocuk Sayısı</label>
                            </div>
                            <div class="col align-items-start h-25 ">
                                <input type="number" id="cocukSayisi" name="cocukSayisi" class="form-control" required />
                            </div>
                            <div class="w-100 mb-1"></div>
                            <div class="col align-items-start h-25 ">
                                <label>Maaş</label>
                            </div>
                            <div class="col align-items-start h-25 ">
                                <input type="number" id="maas" name="maas" class="form-control" required />
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" id="hesapla" class="btn" style="margin-bottom:2%; width:30%; margin-left:35%; background-color: #27ae60; color: #ecf0f1;" onclick="maasHesapla()" value="HESAPLA" />
            <div id="sonuc" class="table-responsive bg-light bg-opacity-25 justify-content-center align-items-center" hidden>
                <button style="width: 5%; margin-left: 94%; background-color: #c0392b!important;" class="mb-2 btn btn-danger d-inline-block" onclick="kapat()">Kapat</button>
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Ay</th>
                            <th>Brüt Tutar</th>
                            <th>Sigorta Primi İşçi Pay</th>
                            <th>İşsizlik Primi İşçi Payı</th>
                            <th>Damga Vergisi</th>
                            <th>Gelir Vergisi</th>
                            <th>Vergi Dilimi %</th>
                            <th>Net Tutar</th>
                            <th>Asgari Geçim İndirimi</th>
                            <th>Ödenecek Tutar</th>
                            <th>İşveren Sigorta + İşsizlik Payı</th>
                        </tr>
                    </thead>
                    <tbody id="body">
                        <tr>
                            <th>Ocak</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                        <tr>
                            <th>Şubat</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                        <tr>
                            <th>Mart</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                        <tr>
                            <th>Nisan</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                        <tr>
                            <th>Mayıs</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                        <tr>
                            <th>Haziran</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                        <tr>
                            <th>Temmuz</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                        <tr>
                            <th>Ağustos</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                        <tr>
                            <th>Eylül</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                        <tr>
                            <th>Ekim</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                        <tr>
                            <th>Kasım</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                        <tr>
                            <th>Aralık</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                    </tbody>
                    <tfoot id="footer">
                        <tr>
                            <th>Aylık Ortalamalar</th>
                            <th></th>
                            <th>0</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>0</th>
                            <th></th>
                            <th>0</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Toplam</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th></th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        function kapat() {
            document.getElementById("sonuc").hidden = true
        }
        /* $(document).ready(function () {
             $("#Brüt").click(function () {
                 var id = $("#id").val();
                 var element = document.getElementById("body")
                 var data = ``
                 $.ajax({
                     url: '/Home/BRÜT/' + id,
                     type: 'POST',
                     dataType: 'json',
                     success: function (data) {
                         $.each(data, function (i, kisi) {
                             data +=`
                                     <tr>
                                         <td>${kisi.ay}</td>
                                         <th>${kisi.brütMaas.toFixed(2)}</th>
                                         <th>${kisi.sgkIsciPayi}</th>
                                         <th>${kisi.sgkIssizlikIsciPayi}</th>
                                         <th>${kisi.damgaVergisi}</th>
                                         <th>${kisi.gelirVergisi}</th>
                                         <th>${kisi.vergiDilim} %</th>
                                         <th>${kisi.netTutar}</th>
                                         <th>${kisi.agi}</th>
                                         <th>${kisi.odenecekTutar}</th>
                                         <th>${kisi.sigortaVeİssizlikPayı}</th>
                                     </tr>
                                    `
                         });
                         $("#body").html("");
                         $("#body").html(data);
                     }
                 });
             });
         });*/
        function maasHesapla() {

            if (document.getElementById("sonuc").hidden = true)
                document.getElementById("sonuc").hidden = false

            var islem = ''
            if (document.getElementById("hesaplamaSekli").value == 1)
                islem = 'BRÜT'
            else
                islem = 'NET'
            var maas = document.getElementById("maas").value
            var cocukSayisi = document.getElementById("cocukSayisi").value
            let kisiModel =
            {
                maas: 0,
                medeniDurum: document.getElementById("medeniDurum").value,
                cocukSayisi: 0,
                sakatlikId: parseInt(document.getElementById("sakatlikId").value),
                sigortaId: parseInt(document.getElementById("sigortaId").value)
            }
            if (maas == "")
                kisiModel.maas = 0
            else
                kisiModel.maas = parseInt(maas)

            if (cocukSayisi == "")
                kisiModel.cocukSayisi = 0
            else
                kisiModel.cocukSayisi = parseInt(cocukSayisi)                
        
            let footer =
            {
                ortalamaBrüt: 0,
                ortalamaNet: 0,
                ortalamaOdenecek: 0,
                Brüt: 0,
                Net: 0,
                sgkIsciPayi: 0,
                sgkIssizlikIsciPayi: 0,
                damgaVergisi: 0,
                gelirVergisi: 0,
                agi: 0,
                odenecekTutar: 0,
                sigortaVeİssizlikPayı: 0
            }
            var bodyData = ``
            var footerData = ``
            $.ajax({
                url: '/Anasayfa/' + islem,
                type: 'POST',
                data: kisiModel,
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (i, kisi) {
                        footer.Brüt += kisi.brütMaas
                        footer.Net += parseFloat(kisi.netTutar)
                        footer.sgkIsciPayi += parseFloat(kisi.sgkIsciPayi)
                        footer.sgkIssizlikIsciPayi += parseFloat(kisi.sgkIssizlikIsciPayi)
                        footer.damgaVergisi += parseFloat(kisi.damgaVergisi)
                        footer.gelirVergisi += parseFloat(kisi.gelirVergisi)
                        footer.agi += parseFloat(kisi.agi)
                        footer.odenecekTutar += parseFloat(kisi.odenecekTutar)
                        footer.sigortaVeİssizlikPayı += parseFloat(kisi.sigortaVeİssizlikPayı)
                        bodyData += `
                                    <tr>
                                        <td>${kisi.ay}</td>
                                        <th>${kisi.brütMaas.toFixed(2)}</th>
                                        <th>${kisi.sgkIsciPayi}</th>
                                        <th>${kisi.sgkIssizlikIsciPayi}</th>
                                        <th>${kisi.damgaVergisi}</th>
                                        <th>${kisi.gelirVergisi}</th>
                                        <th>${kisi.vergiDilim} %</th>
                                        <th>${kisi.netTutar}</th>
                                        <th>${kisi.agi}</th>
                                        <th>${kisi.odenecekTutar}</th>
                                        <th>${kisi.sigortaVeİssizlikPayı}</th>
                                    </tr>
                                   `
                    });
                    footer.ortalamaNet = (footer.Net / 12).toFixed(2)
                    footer.ortalamaBrüt = (footer.Brüt / 12).toFixed(2)
                    footer.ortalamaOdenecek = (footer.odenecekTutar / 12).toFixed(2)
                    footerData += ` <tr>
                                        <td>Aylık Ortalamalar</td>
                                        <th>${footer.ortalamaBrüt}</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>${footer.ortalamaNet}</th>
                                        <th></th>
                                        <th>${footer.ortalamaOdenecek}</th>
                                        <th></th>
                                    </tr>
                                   `
                    footerData += `
                                   <tr>
                                      <td>Toplam</td>
                                      <th>${footer.Brüt.toFixed(2)}</th>
                                      <th>${footer.sgkIsciPayi.toFixed(2)}</th>
                                      <th>${footer.sgkIssizlikIsciPayi.toFixed(2)}</th>
                                      <th>${footer.damgaVergisi.toFixed(2)}</th>
                                      <th>${footer.gelirVergisi.toFixed(2)}</th>
                                      <th></th>
                                      <th>${footer.Net.toFixed(2)}</th>
                                      <th>${footer.agi.toFixed(2)}</th>
                                      <th>${footer.odenecekTutar.toFixed(2)}</th>
                                      <th>${footer.sigortaVeİssizlikPayı.toFixed(2)}</th>
                                   </tr>
                                   `
                    $("#body").html("");
                    $("#body").html(bodyData);
                    $("#footer").html("");
                    $("#footer").html(footerData);
                }
            });
        }
    </script>


    <!--  <script src="~/Scripts/Hesapla.js"></script> -->
    <script src="@Url.Content("https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js")" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="@Url.Content("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js")" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>